<div class="pd-gallery__item {{ if feature }}pd-gallery__item--feature{{ /if }} pd-reveal" style="--reveal-delay: {{ delay ?? '0' }}s;">
    {{ if image }}
        <button type="button" class="pd-gallery__trigger" data-lightbox aria-label="Perbesar foto: {{ title }}">
            <img src="{{ image:url }}" alt="{{ title }}" loading="lazy">
        </button>
    {{ else }}
        <div class="pd-mesh"></div>
        <span class="pd-gallery__empty">Belum ada foto</span>
    {{ /if }}
    {{ if title || caption }}
        <div class="pd-gallery__caption">
            <strong>{{ title }}</strong>
            {{ if caption }}<span>{{ caption }}</span>{{ /if }}
        </div>
    {{ /if }}
</div>
